<h1>Create a Company Listing</h1>
<form method="POST" action="/companies/new">
	<h3><label for="company_name">Company Name:</label></h3>
	<input type="text" name="name">
	<h3><label for="location">Location:</label></h3>
	<input type="text" name="location">
	<h3><label for="website">Website:</label></h3>
	<input type="submit" value="Submit">
</form>