<h1>Job Hunter Helper</h1>

<p>Keep track of companies you're interested in, job postings you're interested in and what actions you've taken in your job search! See which skills are in demand by employers!</p>

<a href="/login">Log In</a>
<br>
<a href="/signup">Sign Up</a>